#full {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* position: relative; */

}

#routLink {
  text-decoration: none;
  font-size: 8rem;
  font-weight: bold;

}