.mainHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
  height: 100%;

}

.light {

  --body-background: white;
  --body-footer: #f2eee6;
  --primary: #0d261e;



}

.dark {

  --body-background: #060b0d;
  --body-footer: #101517;
  --primary: #fffdfa;


}



.show {
  display: block;
  visibility: visible !important;
  transition: opacity 0.3s ease-out, top 0.3s step-end
}

.hide {
  display: none;
  visibility: hidden !important;
  transition: opacity 0.3s ease-out, top 0.3s step-start;
  opacity: 1;


}

.DivImg {
  width: 80px;
  height: 80px;
}

.leftHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;
}

.imgprofileA {
  width: 100%;
}

.iconMoon {
  font-size: 1rem;
}

.iconSun {
  font-size: 1rem;
}

.iconCloseOpen {
  font-size: 3rem;
}